.card-height {
    height: 150px;
    padding: 5px;
    text-align: center;
    margin: auto;
    background-position: center center;
}

.card-1 {
    /* background-image: url("../images/card1.jfif"); */
    background-image: linear-gradient(45deg, rgba(61, 61, 60, 0.62), rgba(63, 63, 63, 0.58)), url('../images/card1.jfif');
    background-size: cover;
}

.card-2 {
    /* background-image: url("../images/card2.jfif"); */
    background-image: linear-gradient(45deg, rgba(61, 61, 60, 0.62), rgba(63, 63, 63, 0.58)), url('../images/card2.jfif');
    background-size: cover;
}

.card-3 {
    /* background-image: url("../images/card3.jfif"); */
    background-image: linear-gradient(45deg, rgba(61, 61, 60, 0.62), rgba(63, 63, 63, 0.58)), url('../images/card3.jfif');
    background-size: cover;
}

.card-4 {
    /* background-image: url("../images/card4.jfif"); */
    background-image: linear-gradient(45deg, rgba(61, 61, 60, 0.62), rgba(63, 63, 63, 0.58)), url('../images/card4.jfif');
    background-size: cover;
}

p {
    margin-top: 8%;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    opacity: 1;
    letter-spacing: 1px;
    animation: colorRotate 5s linear 0s infinite;
}

p span {
    font-size: 1.5rem;
}

@keyframes colorRotate {
    from {
      color: #ffffff;
    }
    20% {
      color: #043758;
    }
    40% {
      color: #06cf06;
    }
    60% {
      color: #c91971;
    }
    80% {
      color: #1c1ccf;
    }
    100% {
        color: #33337c;
    }
  }