{% extends 'base.html' %}
{% block body %}
<h2 class="text-center">Voter Card List</h2>
<a href="{% url 'upload-voter' %}" class="btn btn-success mb-1"><i class="fa fa-plus-circle"></i> Generate New Voter Card</a>
<input type="text" id="myInput" onkeyup="myFilter()" placeholder="Search for name and epic..." class="form-control mb-1">
<table id="myTable" class="table text-center table-striped table-bordered table-hover table-dark">
    <thead class="bg-primary">
        <tr>
            <th scope="col">EPIC NO.</th>
            <th scope="col">NAME</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody>
        {% for voter in voters %}
        <tr>
            <td>{{voter.epic}}</td>
            <td>{{voter.name1}}</td>
            <td>
                <a class="btn btn-info btn-sm" href="{% url 'fill-voter' voter.id %}"><i class="fa fa-edit"></i></a>
                <a class="btn btn-success btn-sm" href="{% url 'pdf' voter.id %}"><i class="fa fa-eye"></i></a>
                <a class="btn btn-danger btn-sm" href="{% url 'delete-voter' voter.id %}"><i
                        class="fa fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function myFilter() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>

{% endblock %}